/* Place CSS styles here */
body {
  background-color: #d29fff;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
  color: #faebd7;
}
a:hover{
  color: #00ffff;
}
a:focus{
  outline: 2px solid #00ffff;
}

div{
  font-size: 20px;
  background-color: #fdc4fb;
  color: #4c0143;
  border: #543561 solid 2px;
  padding: 15px;
  border-radius: 15px;
  text-align: center;

}
.nav a {
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  margin-right: 20px;
}

h1 {
  font-size: 54px;
  background-color: #543561;
  text-align: center;
  color:#faebd7
}
image{
  width: 400px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  

}
p{
  margin-right: auto;
  color: #faebd7;
}
.submit-button {
  background-color: #ffb6d9;    
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 25px;          
  font-size: 16px;
  font-weight: 600;

}

.submit-button:hover {
  background-color: #ff8fc4;    
}


a{
  color: #4c0143;
}
:focus{
  outline: solid 3px #00ffff;
}
