/* Place CSS styles here */
body {
  background-color: #d29fff;
  font-size: 28px;
  color: #faebd7;
}

h1 {
  font-size: 54px;
  color:#faebd7
}

img {
  width: 400px; 
	height: 400px;      
  border: 10px solid #ff84f1;
  border-style: dotted;
  margin-left: auto;
  margin-right: auto;
}

